{
  "extends": [
    "airbnb",
    "airbnb/hooks",
  ],
  "rules": {
    "prefer-default-export": 0
  },
  "root": true,
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  }
}
