* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  margin: 0;
  background-image: url("../bg.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.router-link-active {
  font-weight: bold;
}

h2 {
  margin: 20px 0 10px 0;
}

span, p {
  font-size: 18px;
}

h2:after {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #188bcd;
  content: '';
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 5px 0;
}

ul li:first-of-type {
  margin: 0 0 5px 0;
}

ul li:last-of-type {
  margin: 5px 0 0 0;
}

.spinner {
  width: 100%;
  margin: 150px 0;
}
