* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  margin: 0;
  background-image: url("../bg.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.error-message {
  color: crimson;
  font-size: 20px;
  text-shadow: black 0 1px 0;
  text-align: center;
}

.router-link-active {
  font-weight: bold;
}

h1 {
  text-align: center;
}

h2 {
  margin: 20px 0 10px 0;
}

span,
p {
  font-size: 18px;
}

p.preamble {
  margin: 0 0 22px 0;
  text-align: center;
  color: #a2a2a2;
}

h2::after {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #188bcd;
  content: '';
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 5px 0;
}

ul li:first-of-type {
  margin: 0 0 5px 0;
}

ul li:last-of-type {
  margin: 5px 0 0 0;
}

.spinner {
  width: 100%;
  margin: 150px 0;
}

.hidden-textfield {
  border: 0;
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 18px;
}

.hidden-textfield:hover {
  background-color: #ffeac4;
}

.hidden-textfield:focus {
  background-color: #fff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.button--add {
  cursor: pointer;
  padding: 0 20px;
  font-size: 18px;
  line-height: 36px;
  margin: 0 10px 0 0;
}

.button--add:last-of-type {
  margin: 0;
}
